
a:link{
    color: #335;
}
a:visited{
    color: #135;
}
a:hover{
    color: #531;
}

dd{
    margin-bottom: 8px;
}

div#logo img{
    width: 59px;
    height: 55px;
}

div#logo{
    font-size: 50%;
}

body#menu{
    font-size: 75%;
}

body#menu ul{
    padding: 0;
    margin: 0;
    margin-left: 15px;
}


#sgvzl_example_pre{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    
    white-space: pre-wrap; /* CSS2.1 compliant */
    white-space: -moz-pre-wrap; /* Mozilla-based browsers */
    white-space: o-pre-wrap; /* Opera 7+ */
}

#sgvzl_example_table{
    width: 800px;
    height: 200px;
}
