/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
body, html {
    height: 100%;
}

/* line 14, ../sass/screen.scss */
body {
    padding-top: 40px;
}
/* line 18, ../sass/screen.scss */
body .menu-level-1.navbar .navbar-inner .container {
    margin-left: 0px;
}
/* line 21, ../sass/screen.scss */
body .menu-level-1.navbar .navbar-inner .container .brand {
    background-image: url(../img/logo/marmotta-logo-neg.png);
    height: 40px;
    width: 120px;
    background-size: contain;
    margin-left: 12px;
    padding: 0;
    background-repeat: no-repeat;
}
/* line 33, ../sass/screen.scss */
body .menu-level-2, body .menu-level-3 {
    position: fixed;
}
/* line 37, ../sass/screen.scss */
body .menu-level-2 {
    z-index: 1020;
    margin-left: -20px;
    padding-right: 0px;
}
/* line 43, ../sass/screen.scss */
body .menu-level-3 {
    z-index: 1010;
    width: 100%;
    margin-left: -40px;
}
/* line 48, ../sass/screen.scss */
body .menu-level-3 div {
    width: 100%;
}
/* line 51, ../sass/screen.scss */
body .menu-level-3 div > ul {
    width: 100%;
    padding-left: 20px;
    background: white;
}
/* line 59, ../sass/screen.scss */
body .row.content {
    margin-top: 58px;
}
/* line 63, ../sass/screen.scss */
body .square-corners {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
/* line 67, ../sass/screen.scss */
body .full-height {
    height: 100%;
}
/* line 71, ../sass/screen.scss */
body .nav-tabs.square-corners > li > a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}