/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  padding-top: 40px;
}

body .menu-level-1.navbar .navbar-inner .brand {
  background-image: url('../img/logo/marmotta-logo-neg.png');
  height: 40px;
  width: 120px;
  background-size: contain;
  margin-left: 12px;
  padding: 0;
  background-repeat: no-repeat;
}

body .menu-level-1.navbar .navbar-inner .navbar-link {
  cursor: pointer;
}

body .menu-level-2, body .menu-level-3 {
  position: fixed;
}

body .menu-level-2 {
  padding: 8px 0;
  margin-left: 0px !important; /* because of offset and position fixed */
}

body .menu-level-3 {
  background-color: #fff;
  width: 100%;
  text-transform: lowercase;
  z-index: 100;
}

.loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('../img/loader/ajax-loader_small.gif');
}

.hidden {
  display: none !important;
}

.square-corners {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.full-height {
  height: 100%;
}

body .nav-tabs.square-corners > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

body #content {
  margin-top: 43px;
  margin-bottom: 100px;
}

/* overriding bootstrap css classes */
.hero-unit {
  padding: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
legend+.control-group {
  -webkit-margin-top-collapse: collapse;
}

/**
 * Droparea
 */
#droparea{
  height: 220px;
  padding-top: 90px;
  border: 7px dashed #ccc;
  border-radius: 10px;
  vertical-align: baseline;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}
#droparea p {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
#droparea.upload {
  height: 120px;
  padding-top: 40px;
}
#droparea.hover{
  border-color: #777;
  background-color: #fff;
}

