<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<html>
<head>
    <!--###BEGIN_HEAD###-->
    <title>Logging Configuration</title>
    <link rel="stylesheet" href="../../webjars/jquery-ui/1.10.3/themes/base/minified/jquery-ui.min.css"/>
    <script type="text/javascript" src="../../webjars/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../webjars/jquery-ui/1.10.3/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../webjars/angularjs/1.2.2/angular.min.js"></script>
    <script type="text/javascript">
        var url = _SERVER_URL;

        // initialise dialog
        $(function() {
            $("#new-appender-dialog").dialog({
                autoOpen:  false,
                resizable: false,
                height:    300,
                width:     600,
                modal:     true
            })
        });
    </script>
    <script type="text/javascript" src="js/logging.js"></script>

    <style>
        table.appenders {
            width: 80%;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            background-color: darkgray;
            color: white;
        }

        td {
            vertical-align: top;
        }

        table.appenders .name {
            width: 20%;
        }
        table.appenders .pattern {
            width: 30%;
        }
        table.appenders .level {
            width: 10%;
        }
        table.appenders .additional {
            width: 20%;
        }


        table.modules {
            width: 80%;
            border-collapse: collapse;
        }
        table.modules .name {
            width: 20%;
        }
        table.modules .level {
            width: 10%;
        }
        table.modules .appenders {
            width: 50%;
        }
        table.modules .actions {
            width: 20%;
        }

        .odd td {
            background-color: lightgray;
        }

    </style>

    <!--###END_HEAD###-->
</head>
<body>
<div id="main">
    <div id="contents">
        <!--###BEGIN_CONTENT###-->

        <h1>Marmotta Logging Configuration</h1>

        <p>
            The following forms allow to configure logging in Apache Marmotta. Logging in Marmotta is based on
            <a href="http://logback.qos.ch/">Logback</a> and uses the following concepts:
        </p>

        <ul>
            <li>
                <strong>appenders</strong> are log output destinations (either the console, a logfile, or a syslog facility);
                each appender has at least a pattern describing the layout (following the
                <a href="http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout">Logback Pattern Layout</a>) and a maximum
                level; messages with higher level are always ignored by the appender
            </li>
            <li>
                <strong>modules</strong> are logical components in Marmotta that represent a certain functionality (e.g. "SPARQL");
                each module has a loglevel and a list of appenders to which it will send its output.
            </li>
        </ul>

        <div ng-app="logging" ng-controller="LoggingController">

            <h2>Log Appenders</h2>


            <h3>Console</h3>
            <table class="appenders">
                <tr>
                    <th>Name</th><th>Level</th><th>Pattern <a href="http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout" target="new">?</a> </th><th></th><th></th>
                </tr>
                <tr ng-repeat="appender in appenders | filter:{type:'console'}" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td class="name">{{appender.name}}</td>
                    <td class="level">
                        <select ng-model="appender.level" ng-options="level for level in levels"></select>
                    </td>
                    <td class="pattern"><input type="text" ng-model="appender.pattern" size="40"/> </td>
                    <td class="additional"></td>
                    <td class="additional"></td>
                </tr>
            </table>

            <h3>Logfile</h3>
            <table class="appenders">
                <tr>
                    <th>Name</th><th>Level</th><th>Pattern <a href="http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout" target="new">?</a> </th><th>Filename</th><th>Keep Days</th>
                </tr>
                <tr ng-repeat="appender in appenders | filter:{type:'logfile'}" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td class="name">{{appender.name}}</td>
                    <td class="level">
                        <select ng-model="appender.level" ng-options="level for level in levels"></select>
                    </td>
                    <td class="pattern"><input type="text" ng-model="appender.pattern" size="40"/></td>
                    <td class="additional"><input type="text" ng-model="appender.file" size="20"/></td>
                    <td class="additional"><input type="number" ng-model="appender.keep" size="3" min="0"/></td>
                </tr>
            </table>

            <h3>Syslog</h3>
            <table class="appenders">
                <tr>
                    <th>Name</th><th>Level</th><th>Pattern <a href="http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout" target="new">?</a> </th><th>Host</th><th>Facility</th>
                </tr>
                <tr ng-repeat="appender in appenders | filter:{type:'syslog'}" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td class="name">{{appender.name}}</td>
                    <td class="level">
                        <select ng-model="appender.level" ng-options="level for level in levels"></select>
                    </td>
                    <td class="pattern"><input type="text" ng-model="appender.pattern" size="40"/></td>
                    <td class="additional"><input type="text" ng-model="appender.host" size="20"/></td>
                    <td class="additional">
                        <select ng-model="appender.facility" ng-options="facility for facility in facilities"></select>
                    </td>
                </tr>
            </table>

            <div class="save-button"><button ng-click="showNewAppender()">New</button> <button ng-click="saveAppenders()" ng-disabled="!needsAppendersSave">Save</button> </div>


            <h2>Log Modules</h2>

            <table class="modules">
                <tr>
                    <th>Name</th><th>Level</th><th>Appenders</th><th>Actions</th>
                </tr>
                <tr ng-repeat="module in modules" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td class="name">{{module.name}}</td>
                    <td class="level">
                        <select ng-model="module.level" ng-options="level for level in levels"></select>
                    </td>
                    <td class="appenders">
                        <span ng-repeat="appender in module.appenders">
                            {{ (appenders | filter:{id: appender})[0].name }}
                            <button ng-click="removeModuleAppender(module,appender)">-</button>
                        </span>
                    </td>
                    <td class="actions">
                        <select ng-model="module.new_appender" style="width: 80%">
                            <option ng-repeat="appender in getUnselectedModuleAppenders(module)" value="{{appender.id}}">{{appender.name}}</option>
                        </select>&nbsp;<button ng-click="addModuleAppender(module,module.new_appender)">+</button>
                    </td>
                </tr>
            </table>

            <div class="save-button"><button ng-click="saveModules()" ng-disabled="!needsModulesSave">Save</button> </div>



            <div id="new-appender-dialog" title="New Appender">
                <table>
                    <tr>
                        <td><strong>Name:</strong></td><td><input type="text" size="40" ng-model="appenderNew.name" required/> </td>
                    </tr>
                    <tr>
                        <td><strong>Type:</strong></td><td><select ng-model="appenderNew.type" ng-options="type for type in appenderTypes"/> </td>
                    </tr>
                    <tr>
                        <td><strong>Level:</strong></td><td><select ng-model="appenderNew.level" ng-options="level for level in levels"/> </td>
                    </tr>
                    <tr>
                        <td><strong>Pattern:</strong></td><td><input type="text" size="40" ng-model="appenderNew.pattern"/> </td>
                    </tr>
                    <tr ng-show="appenderNew.type == 'logfile'">
                        <td><strong>File:</strong></td>
                        <td><input type="text" size="40" ng-model="appenderNew.file" ng-required="appenderNew.type == 'logfile'"/> </td>
                    </tr>
                    <tr ng-show="appenderNew.type == 'logfile'">
                        <td><strong>Keep Days:</strong></td>
                        <td><input type="number" size="3" ng-model="appenderNew.keep" min="0"  ng-required="appenderNew.type == 'logfile'"/> </td>
                    </tr>
                    <tr ng-show="appenderNew.type == 'syslog'">
                        <td><strong>Host:</strong></td>
                        <td><input type="text" size="40" ng-model="appenderNew.host"  ng-required="appenderNew.type == 'syslog'"/> </td>
                    </tr>
                    <tr ng-show="appenderNew.type == 'syslog'">
                        <td><strong>Facility:</strong></td>
                        <td><select ng-model="appenderNew.facility" ng-options="facility for facility in facilities"  ng-required="appenderNew.type == 'syslog'"></select> </td>
                    </tr>

                </table>
                <div class="save-button"><button ng-click="addNewAppender()">Save</button><button ng-click="cancelNewAppender()">Cancel</button></div>
            </div>

        </div>

        <!--###END_CONTENT###-->
    </div>
</div>
</body>
</html>
