<?xml version="1.0"?>
<!--

    Copyright (C) 2013 The Apache Software Foundation.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

    <display-name>Google Refine</display-name>
    <description>Google Refine Webapp</description>

    <!--+
        | This forces all the session cookies to default to the root path.
        | to allow sessions to work even when butterfly is handling
        | multiple zones.
        | NOTE: this is jetty-specific, so other web-app servers
        | might require different parameters.
        +-->
    <!--
    <context-param>
        <param-name>org.mortbay.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>
    -->

    <servlet>
        <servlet-name>refine</servlet-name>
        <servlet-class>com.google.refine.RefineServlet</servlet-class>
        <init-param>
            <param-name>refine.version</param-name>
            <param-value>2.5-LMF</param-value>
        </init-param>
        <init-param>
            <param-name>refine.revision</param-name>
            <param-value>$REVISION</param-value>
        </init-param>
        <init-param>
            <param-name>refine.data</param-name>
            <param-value>%{INSTALL_PATH}/refine/</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>refine</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>

